<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>BREAD</title>
</head>

<body class="container">
    <div>
        <h1>Edit Data</h1>
        <form action="" method="post">
            <table>
                <tr>
                    <td>
                        String
                    </td>
                    <td>
                        <input type="text" name="string" value="<%= item.string %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Integer
                    </td>
                    <td>
                        <input type="text" placeholder="Integer" name="integer" value="<%= item.integer %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Float
                    </td>
                    <td>
                        <input type="text" placeholder="Float" name="float" value="<%= item.float %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Date
                    </td>
                    <td>
                        <input type="text" placeholder="end date" name="dte" value="<%= item.dte %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Boolean
                    </td>
                    <td>
                        <input type="text" placeholder="Choose the boolean.." name="boolean" value="<%= item.boolean %>">
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn">Update</button>
        </form>
    </div>

</body>

</html>